* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    text-align: center;
    padding: 0.8 rem;
    margin-bottom: 2rem;
}

.actual-player {
    display: none;
    margin-top: 0.5rem;
    text-align: center;
}

.game {
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
}

/* .tr-middle:nth-child(2) { */
.tr-middle {
    border-top: 10px solid #14bdac;
    border-bottom: 10px solid #14bdac;
}

.td-game {
    height: 90px;
    width: 90px;
    cursor: pointer;
}

.td_border_right {
    border-right: 10px solid #14bdac;
}

.mark_x {
    display: none;
    height: 100%;
    background-image: url('../img/x.png');
    background-position: center center; 
    background-repeat: no-repeat;
}

.mark_o {
    display: none;
    height: 100%;
    background-image: url('../img/o.png');
    background-position: center center; 
    background-repeat: no-repeat;
}

td.highlight {
    background-color: #1beed9;
    opacity: 1;
    transition: all 0.5s ease;
}

.placar {
    margin-top: 0.5rem;
}

.placar-title {
    text-align: center;
    text-transform: uppercase;
}

.placar-table {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.placar-table > thead {
    columns: #fff;
    background-color: #1beed9;
}

.placar-table + tr {
    padding: 5px;
    border: 1px solid #1beed9;;
}

.footer {
    text-align: center;
    padding: 0.8 rem;
}

.restart {
    font-size: 1.8rem;
    padding: 1rem;
}

.restart:hover {
    color: #fff;
    background-color: #14bdac;
}

.modal {
    display: block;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    /* width: 50%; */
    max-width: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header {
    padding: 2px 16px;
    background-color: #14bdac;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.infos-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem;
    margin-bottom: 5px;
}

.infos-group-hidden {
    display: none !important;
}

.infos-input {
    line-height: 1.5;
    color: #495057;
    padding: 0.3rem;
    border: 2px solid #000;
}

.infos-input:active {
    color: lime;
}

.infos-group > select {
    width: 50%;
}

input[type='text'] {
    width: 100%;
}

input[type='checkbox'] {
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.modal-footer {
    text-align: center;
    margin-top: 1rem;
    padding: 5px 16px;
    background-color: #14bdac;
    color: white;
}

.start {
    font-size: 1.8rem;
    padding: 0.5rem;
}

.start:hover {
    color: #14bdac;
    background-color: #fefefe;
}