* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --primary: #14bdac;
    --secondary: #fff;
}

body {
    font-family: sans-serif;
}

button {
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.btn-play {
    font-size: 2rem;
    margin-right: 5rem;
    color: #fff; 
    background-color: var(--primary);
    transition: 200ms;
}

.btn-play:hover {
    color: var(--primary);
    background-color: #fff;
}

main {
    padding: 0 5rem;
}

.main-header h2 {
    color: var(--primary);
    font-weight: 700;
}

.container {
    /* display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    text-align: center;
    padding: 0.8 rem;
    margin-bottom: 2rem;
}

.actual-player {
    display: none;
    margin-top: 0.5rem;
    text-align: center;
}

.game {
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
}

.tr-middle {
    border-top: 10px solid var(--primary);
    border-bottom: 10px solid var(--primary);
}

.td-game {
    height: 90px;
    width: 90px;
    cursor: pointer;
}

.td_border_right {
    border-right: 10px solid var(--primary);
}

.mark_x {
    display: none;
    height: 100%;
    background-image: url('../img/x.svg');
    background-position: center center; 
    background-repeat: no-repeat;
}

.mark_o {
    display: none;
    height: 100%;
    background-image: url('../img/o.svg');
    background-position: center center; 
    background-repeat: no-repeat;
}

td.highlight {
    background-color: #1beed9;
    opacity: 1;
    transition: all 0.5s ease;
}

.placar {
    margin-top: 0.5rem;
}

.placar-title {
    text-align: center;
    text-transform: uppercase;
}

.placar-table {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.placar-table > thead {
    columns: #fff;
    background-color: #1beed9;
}

.placar-table + tr {
    padding: 5px;
    border: 1px solid #1beed9;;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 0.8 rem;
}

.restart {
    font-size: 1rem;
}

.restart:hover {
    color: #fff;
    background-color: var(--primary);
}

/* RANKING */

.table-ranking {
    margin-top: 1rem;
    width: 100%;
}

.thead-ranking {
    width: 100%;
    border-bottom: 2px solid var(--primary);
}

.th-ranking {
    padding-left: 1.5rem;
}

.tr-ranking {
    text-align: center;
}

.tr-ranking > td {
    padding: 5px 0;
}

.tr-ranking:nth-child(odd) {
    color: black;
    background-color: #abece5;
}

.tr-ranking:nth-child(even) {
    color: var(--primary);
    background-color: var(--secondary);
}


/* MODAL */

.modal {
    display: block;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    /* width: 50%; */
    max-width: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header {
    padding: 0.5rem;
    text-align: center;
    background-color: var(--primary);
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.infos-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem;
    margin-bottom: 5px;
}

.infos-group-hidden {
    display: none !important;
}

.player-name-empty {
    display: none;
    color:red; 
    font-size: 10px;
}

.infos-input {
    line-height: 1.5;
    color: #495057;
    padding: 0.3rem;
    border: none;
    outline: 2px solid var(--primary);
}

input[type='text'] {
    width: 100%;
}

.btn-add-player {
    border-radius: 0%;
    font-weight: 700;
    font-size: 0.8rem;
}

.btn-add-player:hover {
    color: var(--primary);
}

.radio-image label {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

.radio-image label img {
    width: 50px; 
    height: 50px;
}

.radio-image label input[type="radio"] {
    display: none;
}

.radio-image label input[type="radio"]:checked + img {
    background-color: var(--primary); 
    border-radius: 30%;
    border: 1px solid #ccc;
}

.modal-footer {
    text-align: center;
    margin-top: 1rem;
    padding: 5px 16px;
    background-color: var(--primary);
    color: white;
}

.start {
    font-weight: 700;
    font-size: 1rem;
}

.start:hover {
    color: var(--primary);
    background-color: #fefefe;
}